/* Classes Globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial, Helvetica, sans-serif;
}
.carousel {
  position: relative;
  width: 100%;
  max-width: 1080px;
  margin: auto;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  display: block;
}
.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.indicators {
  text-align: center;
  margin-top: 10px;
}
.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: gray;
  border: #0000008e 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  background: white;
}
.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.prev {
  left: 10px;
  z-index: 1;
}
.next {
  right: 10px;
}
/* Classes Clemerson */
.c-body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/clemerson/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Header */
.c-header {
  top: 0;
  left: 0;
  width: 100%;
}
.c-nav {
  background-color: #6e6e6e;
}
.c-nav ul {
  display: flex;
  list-style: none;
}
.c-nav li {
  padding: 10px;
}
.c-nav li:hover {
  background-color: #464646;
  transition: 0.3s;
}
.c-nav li.c-active {
  background-color: #464646;
  pointer-events: none;
}
.c-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
/* Conteudo principal */
.c-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  width: 100%;
  padding: 20px;
  max-width: 1280px;
}
/* Parte de Procura dos Pokemons */
.c-pokemon-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.c-pokemon-search input {
  height: 1.5rem;
  font-size: 1.4rem;
  outline: none;
}
.c-pokemon-btn {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}
.c-pokemon-btn button {
  width: 25%;
}
/* Parte de Info dos Pokemons */
.c-pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
.c-pokemon-name {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 10px;
}
/* Grid Principal */
.c-pokemon-data-principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
}
.c-pokemon-data-principal table {
  width: 100%;
}
.c-pokemon-data-principal tr {
  display: flex;
  flex-direction: row;
  border-bottom: #000 1px solid;
  padding: 5px 0px;
}
.c-pokemon-data-principal th {
  margin-right: 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: end;
}
.c-pokemon-data-principal td {
  margin-left: 10px;
}
.c-pokemon-data-img {
  position: relative;
  grid-row: span 4 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-pokemon-img {
  background-color: white;
  width: 100%;
  height: 100%;
}
.c-btn-foda {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.300);
  border-radius: 50%;
  padding: 5px;
}
.c-btn-foda:hover {
  background-color: rgba(0, 0, 0, 0.400);
}
.c-pokemon-data-pokedex {
  grid-row: span 4 / span 4;
}
.c-pokemon-data-pokedex th {
  width: 100px;
}
.c-pokemon-data-training {
  grid-row: span 2 / span 2;
}
.c-pokemon-data-training th {
  width: 135px;
}
.c-pokemon-data-breeding {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}
.c-pokemon-data-breeding th {
  width: 100px;
}

/* Grid Secundaria */
.c-pokemon-data-secundaria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 9px;
  width: 100%;
}
.c-pokemon-status {
  width: 100%;
  grid-column: span 2 / span 2;
}
.c-pokemon-defenses {
  grid-column-start: 3;
}

/* Estilização dos tipos genero */
.c-gender-male {
  color: #39f;
}
.c-gender-female {
  color: #a59;
}
.c-pokemon-types {
  display: flex;
  flex-direction: row;
}
.c-pokemon-types img {
  width: 125px;
  margin-right: 10px;
}

.c-pokemon-status table {
  display: block;
  text-align: right;
  white-space: nowrap;
}
.c-pokemon-status tbody {
  display: block;
  width: 100%;
}
.c-pokemon-status tr {
  display: flex;
  border-bottom: #000 1px solid;
  padding: 5px;
}
.c-pokemon-status th {
  display: block;
  width: 130px;
  margin-right: 5px;
}
.c-stat-txt {
  width: 35px;
  margin-right: 5px;
}
.c-stat-cell-bar {
  width: 100%;
}
.c-bar-stat {
  height: 16px;
  border-radius: 3px;
  border: #00000091 2px solid;
}
.c-rank-1 {
  background-color: #f34444;
}
.c-rank-2 {
  background-color: #ff7f0f;
}
.c-rank-3 {
  background-color: #ffdd57;
}
.c-rank-4 {
  background-color: #a0e515;
}
.c-rank-5 {
  background-color: #23cd5e;
}
.c-rank-6 {
  background-color: #00c2b8;
  max-width: 100%;
}

/* Defesas */
.c-pokemon-defenses tbody {
  display: block;
  width: 100%;
  text-align: center;
}
.c-pokemon-defenses tr {
  width: 100%;
}
.c-pokemon-defenses th{
  width: 40px;
  height: 40px;
  border: 1px rgba(0, 0, 0, 0.363) solid;
}
.c-pokemon-defenses td{
  width: 40px;
  height: 40px;
}

.c-pokemon-defenses-suefct {
  background-color: #23cd5e;
}
.c-pokemon-defenses-notefct {
  background-color: #f34444;
}
.c-pokemon-defenses-imefct {
  background-color: #a59;
}
.c-pokemon-defenses-norfct {
  background-color: #ffffff49;
}

.c-normal {
  background-color: #aa9;
}
.c-fighting {
  background-color: #b54;
}
.c-flying {
  background-color: #89f;
}
.c-poison {
  background-color: #a59;
}
.c-ground {
  background-color: #db5;
}
.c-rock {
  background-color: #ba6;
}
.c-bug {
  background-color: #ab2;
}
.c-ghost {
  background-color: #66b;
}
.c-steel {
  background-color: #aab;
}
.c-fire {
  background-color: #f42;
}
.c-water {
  background-color: #39f;
}
.c-grass {
  background-color: #7c5;
}
.c-electric {
  background-color: #fc3;
}
.c-psychic {
  background-color: #f59;
}
.c-ice {
  background-color: #6cf;
}
.c-dragon {
  background-color: #76e;
}
.c-dark {
  background-color: #754;
}
.c-fairy {
  background-color: #e9e;
}
/* Footer */
.c-footer {
  background-color: #6e6e6e;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
}
/* Classes Gustavo */

.g-body {
  background-color: #fdfdfd;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow-x: hidden;
}

/* header */

.g-header {
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #f5fff2;
}

.g-header-2 {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  background-color: #fff;
  margin: auto;
}
.g-nav {
  background-color: #fff;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* position: fixed; */
  border-radius: 0px 0px 15px 15px;
  /* border: 1px solid black; */
}
.g-nav ul {
  display: flex;
  list-style: none;
}

.g-nav li {
  padding: 10px;
}

.g-nav a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
}

.g-logo {
  width: 15%;
  height: 50px;
  object-fit: cover;
  /* border: 1px solid black; */
}

.g-menu {
  width: 70%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}

.g-icons {
  display: flex;
  width: 15%;
  justify-content: end;
  /* border: 1px solid red; */
}

.g-cart {
  font-size: 24px;
}

/* fim header */

/* modelo de container */

.g-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

/* conteudo inicial do site */

.g-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 75vh;
  /* border: #464646 solid 1px; */
  object-fit: cover;
  margin: 2.5%;
}

.g-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.g-content img {
  border-radius: 25px;
}

.g-title {
  font-size: 44px;
  font-weight: bold;
  color: #30322f;
}
.g-title span {
  color: #498c55;
  text-decoration: underline;
}

.g-subtitle {
  font-size: 24px;
  color: #30322f;
}

.g-button {
  width: 20%;
  height: 10%;
  background-color: #498c55;
  font-size: 24px;
  border-radius: 25px;
  margin-top: 5%;
}

.g-button a {
  text-decoration: none;
  color: #fff;
}

.g-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* fim conteudo inicial do site */

/* sobre */
.g-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-color: #fdfdfd;
  /* border: #464646 solid 1px; */
  /* object-fit: cover; */
}

.g-about-content {
  /* margin-top: 4.5%; */
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border: 1px solid #464646; */
}

.g-title-about {
  width: 65%;
  font-size: 34px;
  font-weight: bold;
  color: #30322f;
  margin-bottom: 0.5%;
}
.g-title-about span {
  color: #498c55;
}

.g-subtitle-about {
  width: 55%;
  font-size: 20px;
  color: #30322f;
  margin-bottom: 2.5%;
}

.g-container-card {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #464646; */
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.g-card {
  /* border: 1px solid #464646; */
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  margin: 3% 3% 3% 0;
}

.g-text-card h1 {
  font-size: 44px;
  color: #333;
  margin: 2.5% 0;
  background-color: #498c55;
  color: #fff;
  padding: 1.5%;
  border-radius: 50%;
  text-align: center;
  width: 55px;
}
.g-text-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 2%;
}

.g-text-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

/* product */

.g-product {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  margin: auto;
  /* border: 1px solid #464646; */
}

.g-product-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #30322f;
  margin-bottom: 2.5%;
}

.g-container-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  /* border: 1px solid #464646; */
}
.g-card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  height: 270px;
  /* background-color: #e1e1e1; */
  /* border: 1px solid red; */
  margin: 1.5% 1%;
  border-radius: 3%;
}

.g-card-product:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.45);

  border-radius: 3%;
}

.g-card-product-img {
  width: 100%;
  /* background-color: #f1f1f1; */
  /* text-align: center; */
  margin: auto;
  border-radius: 5px;
  /* border: 1px solid green */
}

.g-card-product-img img {
  /* border: 1px solid #464646; */
  width: 170px;
  height: 170px;
  object-fit: cover;

  border-radius: 3%;
}

.g-card-product-title {
  /* border: 1px solid balck; */
  width: 100%;
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 2.5% 2.5% 2.5% 10%;
}

.g-product-card-preco {
  /* border: 1px solid balck; */
  margin: auto;
  width: 100%;
  font-size: 16px;
  color: #333;
  text-align: left;
  margin: 0% 0% 0% 10%;
}

.g-product-card-tribo {
  /* border: 1px solid balck; */
  margin: auto;
  width: 100%;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin: 2.5% 0% 0% 10%;
}

.g-product-card-estrelinhas {
  /* border: 1px solid balck; */
  margin: auto;
  width: 100%;
  font-size: 14px;
  color: #333;
  text-align: left;
  margin: 0% 0% 0% 9%;
}

/* fim produto  */

/* contato */

.g-contact {
  margin-top: 7%;
}

.g-contact-container {
  display: flex;
  flex-direction: column;
}
.g-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.g-contact-text {
  width: 80%;
  margin: auto;
}

.g-map-container {
  width: 100%;
  height: 500px;
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.g-map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.g-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 100%;
  border: #000 solid 1px;
}

.g-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.g-text {
  font-size: 24px;
  width: 60%;
  height: auto;
  padding: 5%;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  color: #000;
}

/* Classes Kaua */
.k-body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191919;
  background-image: url(../img/kaua/background\ jogos.jpeg);
  background-size: cover;
}
.k-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.k-nav {
  background-color: #6e6e6e;
}
.k-nav ul {
  display: flex;
  list-style: none;
}
.k-nav li {
  padding: 10px;
}
.k-nav li:hover {
  background-color: #464646;
  transition: 0.3s;
}
.k-nav li.active {
  background-color: #464646;
  pointer-events: none;
}
.k-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.k-footer {
  background-color: #6e6e6e;
  color: white;
  text-align: center;
  padding: 5px;
}
.sg-canvas {
  background-color: #111;
}
.Snake-body {
  background-color: #191919;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}
.score--value {
  font-weight: 700;
  font-size: 4.5rem;
  display: block;
  margin-top: -10px;
}
.k-score-board {
  display: flex;
  justify-content: space-around;
  width: 600px;
}
.menu-screen {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.game-over {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
}
.final-score {
  font-weight: 500;
  font-size: 1.5rem;
}
.btn-play {
  border: none;
  border-radius: 100px;
  padding: 10px 15px 10px 12px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

/* Classes Nathan */


.n-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/nathan/operacoes-na-Bolsa-de-Valores.png");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  object-fit: cover;
}

.n-container-card {
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 0%;
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  /* border: 1px solid red; */
}

.n-container h1,h3 {
  margin-top: 1.5%;
}

.n-card {
  width: 160px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 25px;
  text-align: center;
  /* width: 75%; */
  height: 200px;
  padding: 2px;
  /* border: 1px solid violet; */
  background-color: rgba(255, 255, 255, 0.5);
}

.n-card img {
  margin-top: 7px;
}

.n-img-card {
 
  border-radius: 20px;
  width: 140px;
  height: 140px;
  margin: auto;
}

.n-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.n-link:hover {
  color: #ffffff;
  transition: 0.5s;
}

.n-text-card h2{
margin-top: 10px;
/* color: #fff; */
}

.n-text-card h2{
margin-top: 10px;
/* color: #fff; */
}